
  body 
    { 
    width: 1200px;
    background-color: rgb(143, 188, 143);
    }


h1 {
  color: blue;			/* cor da fonte */
  font-size: 20pt;		/* tamanho da fonte */
  font-family: Tahoma;	/* tipo da fonte */
  font-weight: bold;	/* negrito */
  font-style: italic;	/* itálico */
  background-color: green;	/* cor de fundo */
  border: 1px solid red;	/* borda do componente - tamanho estilo e cor */
  text-decoration: underline; /* sublinhado */
}

h2 {
  color: green;			/* cor da fonte */
  font-size: 15pt;		/* tamanho da fonte */
  font-family: Tahoma;	/* tipo da fonte */
  font-weight: bold;	/* negrito */
  font-style: italic;	/* itálico */
  
}

a {
  text-decoration: none;
  font-size: 16pt;
  color: red;
}

/*
Pseudo-classes do a:
a:link - estado inicial, antes de ser clicado pelo usuário 
a:visited - após o usuário entrar neste link
a:hover - passando com o mouse sobre o link
a:active - link clicado pelo usuário
*/
a:hover {
  color: blue;
}

p {
  font-family: Verdana;	
  font-weight: bold;
  color: blue;
}

/* Configuração de classes para um componente específico HTML 
   Usada para colocar configurações de exceção em um componente. */


.minhaclasse {

  color: green; 
  font-weight: bold;
}
/* Configuração de classes para qualquer componente. */
.minhaclasse2 {
   
  color: red;   
  font-weight: bold;
}

.minhaclasse3 {

  color: #FFD700; 
  font-weight: bold;
}
/*

#geral {
	position: absolute;
    top: 80px;
    width: 1200px;
    left: 20px;
    height: 400px;
	width:1170px;
	background-color: yellow;
	
}
*/
/* Posicionar uma divisão na tela */
#quadro1 {
  position: relative; /* obrigatoriamente o position - absolute ou relative */
  top: 20px; /* posição em pixels a partir da margem superior */
  width: 500px; /* define a largura da divisão */
  height: 300px; /* define a altura da divisão */
  float:left;
  left:70px;
  /*background-color: green;*/
   /*margin-left: 20px; /* espaçamento externo da divisão (esquerda) */
   /*padding-left: 30px; /* espaçamento interno da divisão (esquerda) */
   /*border: 2px solid black;*/
}

/* Posicionar uma divisão na tela */
#quadro3 {
 position: relative; /* obrigatoriamente o position - absolute ou relative */
  top: 20px; /* posição em pixels a partir da margem superior */
  width: 500px; /* define a largura da divisão */
  height: 300px; /* define a altura da divisão */
  float:left;
  left:70px;
  /*background-color: green;*/
  /*margin-left: 20px; /* espaçamento externo da divisão (esquerda) */
  /*padding-left: 30px; /* espaçamento interno da divisão (esquerda) */
  /*border: 2px solid black;*/
}

